<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Set an activator gesture to invoke the pop up menu. The pop up menu lets you choose a script to run. This gesture is only for the home screen.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activation Method</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.broganminer.appsort</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Learn how to make scripts to sort your apps of your own.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>How to make a script</string>
			<key>action</key>
			<string>make</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Support the developer with a little donation. It's very appreciated :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>dwmail.png</string>
			<key>action</key>
			<string>donate</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>AppSort</string>
</dict>
</plist>
